<div class="h-full flex flex-col items-center justify-center px-4 py-8">
    <div class="w-full max-w-3xl text-center mb-6">
        <h1 class="text-3xl title md:text-4xl font-bold mb-4">Contactez-nous</h1>
        <p class="color text-sm md:text-base">
            Vous avez une question, une suggestion ou une demande de partenariat ? <br />
            N'hésitez pas à nous contacter !
        </p>
    </div>
    <div class="flex flex-col gap-6 items-center w-full max-w-lg text-center">
        <!-- Email -->
        <div class="flex items-center gap-2">
            <span class="text-xl">📧</span>
            <a href="mailto:contact@roues-libres-charenton.fr" class="text-sm md:text-base hover:underline">
                contact&#64;roues-libres-charenton.fr
            </a>
        </div>

        <!-- Adresse -->
        <div class="flex items-center gap-2">
            <span class="text-xl">📍</span>
            <a href="https://maps.app.goo.gl/fKvGjvRvL7AySdWP6" target="_blank"
                class="text-sm md:text-base hover:underline">
                84 Quai des Carrières, 94220 Charenton-le-Pont
            </a>
        </div>

    </div>



    <!-- Logo -->
    <div class="mt-8">
        <img src="/assets/logo_roues_libres.webp" alt="Logo Roues Libres"
            class="rounded-lg w-24 md:w-40 mx-auto shadow-md" />
    </div>
</div>