<div class="flex flex-col">
    <div class="m-6 mx-12 flex flex-row items-center justify-center gap-y-4">
        <!-- LEFT PART -->
        <div class="flex flex-row items-center justif-center gap-6">
            <img src="../../../assets/logo_roues_libres.webp" alt="Logo de l'association des Roues Libres de Charenton"
                class="rl-logo" (click)="navigateTo('/')">

            <div class="title flex flex-col items-center justify-center font-extrabold text-sm md:text-lg lg:text-2xl">
                <span>
                    Roues Libres
                </span>
                <span>Charenton</span>
            </div>
        </div>

        <!-- RIGHT PART -->
        <a class="burger-icon ml-auto" tabindex="0" (keyup.enter)="toggleMenu()" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </a>
    </div>
    <div class="side-menu pt-24 p-6 flex flex-col">
        <div class="menu-item" tabindex="0" (keyup.enter)="navigateTo('/')" (click)="navigateTo('/')">Accueil</div>
        <a class="menu-item" tabindex="0"
            (keyup.enter)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/adhesions/devenir-membre')"
            (click)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/adhesions/devenir-membre')">

            Devenir membre
        </a>
        <a class="menu-item" tabindex="0"
            (keyup.enter)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/paiements/achat-atelier')"
            (click)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/paiements/achat-atelier')">
            Achats atelier
        </a>
        <a class="menu-item" tabindex="0"
            (keyup.enter)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/formulaires/1')"
            (click)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/formulaires/1')">
            Faire un don
        </a>
        <a class="menu-item" tabindex="0" (keyup.enter)="navigateTo('/acces-local')"
            (click)="navigateTo('/acces-local')">Accès au local</a>
        <a class="menu-item" tabindex="0" (keyup.enter)="navigateTo('/calendrier')"
            (click)="navigateTo('/calendrier')">Calendriers</a>
        <a class="menu-item" tabindex="0" (keyup.enter)="navigateTo('/contact')" (click)="navigateTo('/contact')">Nous
            contacter</a>
        <a class="menu-item" tabindex="0" (keyup.enter)="navigateTo('/mentions-legales')"
            (click)="navigateTo('/mentions-legales')">Mentions légales</a>
    </div>
</div>