<div class="flex flex-col">
    <div class="m-6 mx-12 flex flex-row items-center justify-center gap-y-4">
        <!-- LEFT PART -->
        <div class="flex flex-row items-center justif-center gap-6">
            <img src="../../../assets/logo_roues_libres.webp" alt="Logo de l'association des Roues Libres de Charenton"
                class="rl-logo" (click)="navigateTo('/')">

            <div class="title flex flex-col items-center justify-center font-extrabold text-sm md:text-lg lg:text-2xl">
                <span>
                    Roues Libres
                </span>
                <span>Charenton</span>
            </div>
        </div>

        <!-- RIGHT PART -->
        <div class="burger-icon ml-auto" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="side-menu pt-24 p-6">
        <div class="menu-item" (click)="navigateTo('/')">Accueil</div>
        <div class="menu-item"
            (click)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/adhesions/devenir-membre')">
            Devenir membre
        </div>
        <div class="menu-item"
            (click)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/paiements/achat-atelier')">
            Achats atelier
        </div>
        <div class="menu-item"
            (click)="externNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/formulaires/1')">
            Faire un don
        </div>
        <div class="menu-item" (click)="navigateTo('/acces-local')">Accès au local</div>
        <div class="menu-item" (click)="navigateTo('/calendrier')">Calendriers</div>
        <div class="menu-item" (click)="navigateTo('/contact')">Nous contacter</div>
        <div class="menu-item" (click)="navigateTo('/mentions-legales')">Mentions légales</div>
    </div>
</div>