<h1 class="text-3xl font-bold text-center title">Accès au local</h1>

<div class="p-4 flex flex-col gap-2">
    <p class="text-justify">
        Pour nous rejoindre au local, le plus direct est d’utiliser le Quai des Carrières, mais cette voie est peu
        accueillante pour les vélos.
    </p>
    <p class="text-justify">
        Nous vous conseillons plutôt d’arriver par L’avenue de la Liberté et de vous arrêter au niveau du pont, et de
        descendre à pied sur le Quai des Carrières (1 minute de marche).
    </p>
</div>

<div class="scroll-container">
    <button class="scroll-btn left" (click)="scrollImages(-1)">&#9665;</button>
    <div class="local-imgs" #imageContainer>
        <app-card-image asset="/assets/local-1.webp" alt="Entrée du local de co-réparation"
            class="local-img"></app-card-image>
        <app-card-image asset="/assets/local-2.webp" alt="Accès depuis l'Avenue de la Liberté"
            class="local-img"></app-card-image>
        <app-card-image asset="/assets/local-3.webp" alt="Accès depuis le Quai des Carrières"
            class="local-img"></app-card-image>
    </div>
    <button class="scroll-btn right" (click)="scrollImages(1)">&#9655;</button>
</div>

<div class="w-full p-4 rounded-xl my-4 flex items-center justify-center">
    <div class="w-full rounded-xl overflow-hidden my-4 maps-map">
        <iframe [src]="iframeUrl | safeUrl" width="100%" height="500" style="border:0;" allowfullscreen loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>

<div class="text-center my-4">
    <a href="https://www.google.com/maps/place/Roues+Libres/@48.8208157,2.3995339,17z" target="_blank"
        class="text-blue-500 underline block mb-2">
        Voir sur Google Maps
    </a>
    <a href="/calendrier" class="text-blue-500 underline">
        Voir les horaires d'ouvertures
    </a>
</div>