.local-imgs{
    display: flex;
    overflow-x: auto;
    padding: 1rem;
    gap: 1rem;
    scroll-snap-type: x proximity;
}

.local-img{
    min-width: 280px;
    scroll-snap-align: center;
}

.maps-map{
    height: 500px;
    width: clamp(280px, 100%, 500px);
}