<h1 class="text-3xl font-bold text-center title">Accès au local</h1>
<div class="p-4 flex flex-col gap-2">
    <p class="text-justify">
        Pour nous rejoindre au local, le plus direct est d’utiliser le Quai des Carrières, mais cette voie est peu
        accueillante pour les vélos.
    </p>
    <p class="text-justify">
        Nous vous conseillons plutôt d’arriver par L’avenue de la Liberté et de vous arreter au niveau du pont, et de
        descendre à pied sur le Quai des Carrières (1 minute de marche).
    </p>
</div>
<div class="scroll-container">
    <button class="scroll-btn left" (click)="scrollImages(-1)">&#9665;</button>
    <div class="local-imgs" #imageContainer>
        <app-card-image asset="/assets/local-1.webp" class="local-img"></app-card-image>
        <app-card-image asset="/assets/local-2.webp" class="local-img"></app-card-image>
        <app-card-image asset="/assets/local-3.webp" class="local-img"></app-card-image>
    </div>
    <button class="scroll-btn right" (click)="scrollImages(1)">&#9655;</button>
</div>

<div class="w-full p-4 rounded-xl my-4 flex items-center justify-center">
    <div class="w-full rounded-xl overflow-hidden my-4 maps-map">
        <google-map [options]="mapsOptions" width="100%">
            <map-advanced-marker [position]=" this.center" (mapClick)="openInfoWindow()" />
            <map-info-window [position]="this.center">
                <div class="flex flex-col gap-2">
                    <h1 class="text-2xl font-bold text-black">Roues Libres Charenton</h1>
                    <p class="text-black">84 Quai des Carrières, 94220 Charenton-le-Pont</p>
                    <a href="https://www.google.com/maps/place/Roues+Libres/@48.8208157,2.3995339,17z/data=!3m1!4b1!4m6!3m5!1s0x47e673e2ee9ed039:0x3b3ca5e5ce3aa311!8m2!3d48.8208157!4d2.4021088!16s%2Fg%2F11sx3rv_z6?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D"
                        target="_blank" class="text-blue-500">Voir sur Google
                        Maps</a>
                    <a href="/calendrier" class="text-blue-500">Voir les horaires d'ouvertures</a>
                </div>
            </map-info-window>
        </google-map>
    </div>
</div>