<div class="fullheight flex flex-col items-center gap-12">
    <h1 class="text-4xl font-extrabold self-start mx-6">
        Mentions légales
    </h1>
    <div class="px-6">
        <span class="font-extrabold italic">Roues Libres</span> est une association loi 1901 d’auto-réparation de vélos
        basée à Charenton-le-Pont, déclarée sous le numéro W941017900 (SIREN 910066273)
    </div>
    <div class="px-4 flex gap-4 flex-col">
        <app-legal-notice-section title="Contact" link="mailto:contact@roues-libres-charenton.fr"
            linkText="contact@roues-libres-charenton.fr">
        </app-legal-notice-section>

        <app-legal-notice-section title="Directeur de publication" content="Le Président, Mario ISABELLE" />
        <app-legal-notice-section title="Hébergeur"
            content="Netlify – 610 22nd Street, Suite 315 CA 94107 San Francisco +1 844-899-7312" />

        <app-legal-notice-section title="Données personnelles : Site internet" content="Lors que vous utilisez notre site web, les informations de connexions, incluant votre adresse IP, sont
        conservées par Netlify pour une durée maximale de 30 jours." />

        <app-legal-notice-section title="Données personnelles : Dons et inscriptions"
            content="Les données personnelles récoltées lors des dons et des inscriptions le sont uniquement pour cette finalité. De même lorsque vous donner votre email pour recevoir nos bulletins d’information. Vos données personnelles ne sont pas communiquées à des tiers." />
    </div>
</div>