<!-- A card that expands verticaly when the open icon is clicked to reveal the ng-container -->

<div class="card" [ngClass]="{'active': isActive}" [ngStyle]="{'height': height + 'px' }">
    <div class="card-header p-2">
        <div class="flex flex-row items-center gap-2">
            <mat-icon>{{ icon() }}</mat-icon>
            <h3>{{title()}}</h3>
        </div>
        <div (click)="toggleOpen()" class="open-btn">
            <mat-icon>{{isActive ? "arrow_drop_up" : "arrow_drop_down"}}</mat-icon>
        </div>
    </div>
    <div>
        <ng-content>
        </ng-content>
    </div>
</div>