.card {
    background-color: #3366FF;
    border-radius: .25rem;
    // height: 46px;
    overflow: hidden;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    text-align: center;
}

.card.active {
    // height: 162px;
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.open-btn:hover {
    cursor: pointer;
}