<img src="../../../assets/roues-libres-14mai2022-1500px-11.jpg" alt="Image Accueil Roues Libres Charenton"
    class="fullscreen-image">

<div class="flex flex-col min-h-screen">
    <app-header></app-header>


    <div class="flex flex-wrap items-center justify-around mt-auto gap-y-4">
        <div class="flex flex-col gap-4">
            <span>
                Atelier d'auto-réparation <br /> de vélos de Charenton-le-Pont
            </span>
            <button class="member-btn text-xl font-bold" (click)="navigateTo('/devenir-membre')">Devenir
                Membre</button>
        </div>
        <img src="../../../assets/logo_roues_libres.webp" alt="" class="rl-logo">
    </div>

    <div class="flex flex-col justify-center items-center mt-auto pt-4">
        <span class="text-[6vw] font-extrabold">
            Association
        </span>
        <span class="text-[10vw] font-extrabold">
            ROUES LIBRES
        </span>
    </div>

    <app-footer class="mt-auto"></app-footer>
</div>