<app-wheel-separator position="fixed" left="5px" bottom="5px" />
<img src="../../../assets/roues-libres-14mai2022-1500px-11.jpg" alt="Image Accueil Roues Libres Charenton"
    class="fullscreen-image">

<div class="flex flex-col h-screen">
    <app-header></app-header>

    <div class="flex flex-wrap items-center justify-around gap-y-4 gap-x-96 mx-4">
        <div class="flex flex-col gap-2">
            <span class="text-center">
                Atelier de co-réparation <br /> de vélos de Charenton-le-Pont
            </span>
            <button class="member-btn
                text-xl font-bold"
                (click)="externalNavigateTo('https://www.helloasso.com/associations/roues-libres-charenton/adhesions/devenir-membre')">Devenir
                membre</button>
            <button class="member-btn text-xl font-bold" (click)="navigateTo('/acces-local')">
                Accès au local</button>
            <button class="member-btn text-xl font-bold" (click)="navigateTo('/calendrier')">Calendrier</button>
        </div>
        <img src="../../../assets/logo_roues_libres.webp" alt="" class="rounded-lg h-[160px] lg:w-[200px]">
    </div>

    <div class="flex flex-col justify-center items-center py-2 ">
        <span class="rl-title-1 font-extrabold leading-tight">
            Association
        </span>
        <span class="rl-title font-extrabold text-white leading-tight">
            ROUES LIBRES
        </span>
    </div>

    <app-footer class="mt-auto" bgColor=""></app-footer>
</div>