<footer class="w-full py-6 px-4 flex flex-col items-center justify-center"
    [ngStyle]="{ 'background-color': bgColor() }">
    <div class="flex space-x-6 mb-4">
        <!-- Facebook Icon -->
        <a href="https://www.facebook.com/roueslibrescharenton" target="_blank" aria-label="Facebook"
            class="hover:text-blue-600 transition-colors">
            <img src="../../../../assets/fb.png" width="30px" alt="facebook icon">
        </a>

        <!-- RSS Icon -->
        <a href="/rss" target="_blank" aria-label="RSS Feed" class="hover:text-orange-500 transition-colors">
            <img src="../../../../assets/rss.svg" width="30px" alt="rss feed icon">
        </a>
    </div>

    <p class="text-sm font-medium mb-1">Roues Libres Charenton</p>

    <a href="/mentions-legales" class="text-sm underline transition-colors">
        Mentions légales
    </a>
</footer>