<footer class="w-full py-6 px-4 flex flex-col items-center justify-center"
    [ngStyle]="{ 'background-color': bgColor() }">
    <div class="flex space-x-6 mb-4">
        <!-- Facebook Icon -->
        <a href="https://www.facebook.com/roueslibrescharenton" target="_blank" aria-label="Facebook"
            class="hover:text-blue-600 transition-colors">
            <img src="/assets/fb.png" width="30px" alt="facebook icon">
        </a>

    </div>

    <p class="text-sm mb-1 font-bold">Roues Libres Charenton</p>

    <a href="/mentions-legales" class="text-sm font-bold underline transition-colors">
        Mentions légales
    </a>
</footer>