<div class="flex flex-col items-center justify-around h-full bg-black">
    <h1>
        Devenir Membre
    </h1>

    <div class="flex flex-wrap items-center gap-6 items-center justify-center">
        <app-membership-note></app-membership-note>
    </div>

    <div class="flex flex-wrap items-center gap-6 items-center justify-center">

        <app-membership-card title="Cotisation individuelle">
            <div class="w-full flex flex-col">
                <div class="text-center">
                    <span>20€ </span>
                    <span>par an</span>
                </div>
                <span>

                </span>
            </div>
        </app-membership-card>

        <app-membership-card title="Cotisation familiale"></app-membership-card>
        <app-membership-card title="Cotisation tarif réduit"></app-membership-card>
    </div>
</div>