<div class="fullheight flex flex-col items-center gap-12">
    <h1 class="text-4xl font-extrabold self-start mx-6">
        Devenir Membre
    </h1>

    <div class="flex flex-wrap items-start gap-6 justify-center px-4">
        <app-membership-note title="POURQUOI ?"
            note="Devenir membre permet d'accèder à notre atelier entièrement équipe pour la réparation de vos vélos">
        </app-membership-note>
        <app-membership-note title="COMMENT ?" note="Vous pouvez adhérer en ligne ou directement sur place à l'atelier">
        </app-membership-note>
        <app-membership-note title="A QUOI SERT L'ARGENT ?"
            note="Les cotisations permettent l'achat d'outils et matériels nécessaires pour la réparation des vélos">
        </app-membership-note>
    </div>

    <div class="flex flex-wrap items-center gap-6 items-center justify-center px-4">

        <app-membership-card title="Cotisation individuelle">
            <div class="w-full flex flex-col text-black">
                <div class="text-center">
                    <span class="title font-bold">15€ </span>
                    <span>par an</span>
                </div>
                <span class="text-center">
                    Annuelle de date à date
                </span>
            </div>
        </app-membership-card>

        <app-membership-card title="Cotisation familiale">
            <div class="w-full flex flex-col text-black">
                <div class="text-center">
                    <span class="title font-bold">20€ </span>
                    <span>par an</span>
                </div>
                <span class="text-center">
                    Annuelle de date à date
                </span>
            </div>
        </app-membership-card>
        <app-membership-card title="Cotisation tarif réduit">
            <div class="w-full flex flex-col text-black">
                <div class="text-center">
                    <span class="title font-bold">5€ </span>
                    <span>par an</span>
                </div>
                <span class="text-center">
                    Annuelle de date à date
                </span>
            </div>
        </app-membership-card>
    </div>
</div>