<div class="text-4xl p-4">
    Devenir Membre
</div>

<div class="row">
    <div class="column">
        <app-member-card icon="person" title="Cotisation individuelle">
            <div class="p-2">
                <div class="w-full flex flex-col text-black mb-4">
                    <div class="text-center text-white">
                        <span class="title font-bold">15€ </span>
                        <span>par an</span>
                    </div>
                    <span class="text-center text-white">
                        Annuelle de date à date
                    </span>
                </div>
                <button mat-raised-button class="w-full">
                    Adhérer
                </button>
            </div>
        </app-member-card>
    </div>
    <div class="column">
        <app-member-card icon="family_restroom" title="Cotisation familiale">
            <div class="p-2">
                <div class="w-full flex flex-col text-black mb-4">
                    <div class="text-center text-white">
                        <span class="title font-bold">20€ </span>
                        <span>par an</span>
                    </div>
                    <span class="text-center text-white">
                        Annuelle de date à date
                    </span>
                </div>
                <button mat-raised-button class="w-full">
                    Adhérer
                </button>
            </div>
        </app-member-card>
    </div>
    <div class="column">
        <app-member-card icon="diversity_3" title="Cotisation tarif réduit">
            <div class="p-2">
                <div class="w-full flex flex-col text-black mb-4">
                    <div class="text-center text-white">
                        <span class="title font-bold">5€ </span>
                        <span>par an</span>
                    </div>
                    <span class="text-center text-white">
                        Annuelle de date à date
                    </span>
                </div>
                <button mat-raised-button class="w-full">
                    Adhérer
                </button>
            </div>
        </app-member-card>
    </div>
</div>


<div class="text-4xl p-4 mt-8">
    Nous soutenir avec une donation
</div>

<div class="row-donation">
    <div class="column-donation">
        <app-member-card icon="volunteer_activism" title="Donation ponctuelle" [openHeight]='138'>
            <div class="p-2">
                <div class="w-full flex flex-col text-black mb-4">
                    <div class="text-center text-white">
                        <span>Donnation </span><span class="title font-bold">ponctuelle</span>
                    </div>
                </div>
                <button mat-raised-button class="w-full">
                    Donner
                </button>
            </div>
        </app-member-card>
    </div>
    <div class="column-donation">
        <app-member-card icon="hourglass_bottom" title="Donation récurrente" [openHeight]='138'>
            <div class="p-2">
                <div class="w-full flex flex-col text-black mb-4">
                    <div class="text-center text-white">
                        <span>Donnation </span><span class="title font-bold">récurrente</span>
                    </div>
                </div>
                <button mat-raised-button class="w-full">
                    Adhérer
                </button>
            </div>
        </app-member-card>
    </div>
</div>