$roues-libres-palette-primary: (
    '50': 'e7edff',
    '100': 'c2d1ff',
    '200': '99b3ff',
    '300': '7094ff',
    '400': '527dff',
    '500': '3366ff',
    '600': '2e5eff',
    '700': '2753ff',
    '800': '2049ff',
    '900': '1438ff',
    'A100': 'ffffff',
    'A200': 'fbfbff',
    'A400': 'c8ceff',
    'A700': 'aeb8ff',
    contrast: (
      '50',
      '100',
      '200',
      '300',
      'A100',
      'A200',
      'A400',
      'A700'
    )
);

$roues-libres-palette-accent: (
    '50': 'fbeee7',
    '100': 'f6d4c2',
    '200': 'f0b89a',
    '300': 'e99c71',
    '400': 'e58652',
    '500': 'e07134',
    '600': 'dc692f',
    '700': 'd85e27',
    '800': 'd35421',
    '900': 'cb4215',
    'A100': 'fffcfc',
    'A200': 'ffd4c9',
    'A400': 'ffac96',
    'A700': 'ff987c',
    contrast: (
      '50',
      '100',
      '200',
      '300',
      '400',
      '500',
      '600',
      'A100',
      'A200',
      'A400',
      'A700'
    )
);
  