<div class="events-container">
    @if (isLoading) {
    <div class="loading text-center text-gray-500 font-medium">Chargement des prochains évènements...</div>
    }
    @if (error) {
    <div class="error text-center text-red-500 font-medium">{{ error }}</div>
    }

    @if (!isLoading && !error) {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
        @for (event of events; track $index) {
        <div
            class="event-card bg-white shadow-lg rounded-2xl p-6 border border-gray-200 hover:shadow-xl transition-shadow">
            <div class="card-body text-gray-600">
                <h4 class="text-xl font-bold text-gray-800 mb-2">{{ event.title }}</h4>
                <p class="text-sm text-gray-500">📅 {{ formatEventDate(event.date) }}</p>
                <p class="text-sm"><strong>📍 Lieu :</strong> {{ event.location }}</p>
                <p class="text-sm"><strong>ℹ️ Description :</strong> {{ event.description }}</p>
                <p class="text-sm"><strong>⏰ Heures :</strong> {{ event.startTime }} - {{ event.endTime }}</p>
            </div>
        </div>
        }
    </div>
    }
</div>